body {
    background-color: darkolivegreen;
}

h1 {
    background-color: sandybrown;
    color: darkolivegreen;
}

h2 {
    color: sandybrown;
}

h3 {
    color: sandybrown;
}

h4 {
    color: sandybrown;
}

p {
    color: sandybrown;
}
